{% extends 'estacionamiento/base.html' %}
 {% load static %} 
 {% block extra_css %} 
 <link rel="stylesheet" href="{% static 'css/detalle_estacionamiento.css' %}">
 {% endblock extra_css %} 
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="wow wobble" id="alert-{{ alert }}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong> {{ message }} </strong>
</div>
{% endfor %}
{% endif %}
<div class="container-detail">
  <div class="container-info">
    <div id="map"></div>
  </div>
  <div class="container-info">
    <div class="form-group">
        <div class="row">
           
            <button type="button" class="btn  mx-auto btn-primary" data-toggle="modal"
            data-target="#exampleModalCenter">
            Mas info &#8505;
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirmar tarjeta
                        </h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input required type="text" class="form-control"
                                onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                name="txtnumero" id="txtnumero"
                                placeholder="Numero tarjeta">
                        </div>
                        <div class="row mx-auto">
                            <label class="mx-auto" for="">Expiración</label>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input placeholder="Mes" class="form-control"
                                        type="number">
                                </div>
                                <span class="my-auto">-</span>
                                <div class="col">
                                    <input placeholder="Año" class="form-control"
                                        type="number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input required type="text" class="form-control"
                                onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                name="txtcodigo" id="txtcodigo"
                                placeholder="Codigo tarjeta">
                        </div>
                        <div class="form-group">
                          <label for="">Tiempo:</label>
                              <select required class="form-control form-control-sm" name="txt" id="txttiempo">
                                <option default value="0">Seleccionar</option>
                                <option  value="1">1 Hrs</option>
                                <option value="2">2 Hrs</option>
                                <option value="3">3 Hrs</option>
                                <option value="4">4 Hrs</option>
                                <option value="5">5 Hrs</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <input readonly required id="txtprecio" class="form-control" type="number">
                        </div>
                    </div>
                    <div class="modal-footer mx-auto">
                        <a class="btn btn-primary" href="{% url 'ocupar' propietario.id  %}" role="button">Arrendar</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
         
    </div>
      
  
      <div id="panel"></div>
  </div>
</div>

{% endblock content %} 
{% block extra_js %}
<script type="text/javascript" charset="UTF-8">
function Elprecio(){
  var tiempo = document.getElementById('txttiempo');
  var precio  = document.getElementById('txtprecio')
    
    

    tiempo.onchange=function() {
      precio.value = parseInt(tiempo.value) * 1000;
  }
 
}
Elprecio()

      function addMarkerToGroup(group, coordinate, html) {
          var icono = "{% static 'img/esta.png' %}";
          var icon = new H
              .map
              .Icon(icono);
          var marker = new H
              .map
              .Marker(coordinate, {icon: icon});
          // add custom data to the marker
          marker.setData(html);
          group.addObject(marker);
      }


      function addInfoBubble(map) {
          var group = new H
              .map
              .Group();

          map.addObject(group);


          group.addEventListener('tap', function (evt) {
              // event target is the marker itself, group is a parent event target for all
              // objects that it contains
              var bubble = new H
                  .ui
                  .InfoBubble(evt.target.getPosition(), {
                      // read custom data
                      content: evt
                          .target
                          .getData()
                  });
              // show info bubble
              ui.addBubble(bubble);
          }, false);

          addMarkerToGroup(
              group,
              {
                  lat: {{ propietario.perfil.latitud }},
                  lng: {{ propietario.perfil.longitud }}
              },
              '<div><a href=\'{% url "detalle_estacionamiento" propietario.id %}\' >{{ propietario.name }}</a><' +
                      '/div><div >Direccion:{{ propietario.perfil.direccion }}</div>'
          );
      }


  function HERERoute (map, platform, routeOptions) {
    var router = platform.getRoutingService();

   var onSuccess = function(result) {
    var route,
      routeShape,
      startPoint,
      endPoint,
      strip;

    if (result.response.route) {
      route = result.response.route[0];
      routeShape = route.shape;

      strip = new H.geo.Strip();

      routeShape.forEach(function(point) {
        var parts = point.split(',');
        strip.pushLatLngAlt(parts[0], parts[1]);
      });
      var routeLine = new H.map.Polyline(strip, {
        style: { strokeColor: 'rgba(0,123,255)', lineWidth: 5 }
      });
      map.addObject(routeLine);
      map.setViewBounds(routeLine.getBounds());
      addManueversToPanel(route);

    }
  };


  var routeInstructionsContainer = document.getElementById('panel')
  function addManueversToPanel(route){



var nodeOL = document.createElement('ol'),
  i,
  j;

nodeOL.style.fontSize = 'small';
nodeOL.style.marginLeft ='5%';
nodeOL.style.marginRight ='5%';
nodeOL.className = 'directions';

   // Add a marker for each maneuver
for (i = 0;  i < route.leg.length; i += 1) {
  for (j = 0;  j < route.leg[i].maneuver.length; j += 1) {
    // Get the next maneuver.
    maneuver = route.leg[i].maneuver[j];

    var li = document.createElement('li'),
      spanArrow = document.createElement('span'),
      spanInstruction = document.createElement('span');

    spanArrow.className = 'arrow '  + maneuver.action;
    spanInstruction.innerHTML = maneuver.instruction;
    li.appendChild(spanArrow);
    li.appendChild(spanInstruction);

    nodeOL.appendChild(li);
  }
}

routeInstructionsContainer.appendChild(nodeOL);
}

    var onError = function(error) {
      console.error('Oh no! There was some communication error!', error);
    }

    router.calculateRoute(routeOptions, onSuccess, onError);
  }
  function locationToWaypointString(coordinates) {
    return  coordinates.lat + ',' + coordinates.lng;
  }
  var routeRendered = false;
  var llamdas = 0;
  function actualizarPosicion(event) {
      var miubicacion = {
          lat: event.coords.latitude,
          lng: event.coords.longitude
      };
      ///DIRECTORIOS IMAGENES Markers
      var iam = "{% static 'img/autito.png' %}";
    
      //icono CERDO
      var icon1 = new H
          .map
          .Icon(iam);
          ///iconopatas
   
      var marker = new H
          .map
          .Marker(miubicacion, {icon: icon1});

        //VEO SI LA UBICACION NO ES LA MISMA QUE LA ANTERIOR BORRO EL MARCADOR
        //QUE HABIA PUESTO
      if(this.miubicacionMarker){
        map.removeObject(this.miubicacionMarker);


    

      }

      //AGREGO MARCADOR UBICACION ACTUAL
      map.addObject(marker);

      //GUARDO MARCADOR UBICACION ACTUAL
      this.miubicacionMarker = map.addObject(marker);

 function centrarYo(map) {
          map.setCenter({lat: miubicacion.lat , lng: miubicacion.lng });
          map.setZoom(16);
      }
      centrarYo(map);



  var mypropietario = {
      lat: {{ propietario.perfil.latitud }},
      lng: {{ propietario.perfil.longitud }}
  }
      if (!routeRendered) {
  var route = new HERERoute(map, platform, {
  mode: 'fastest;car',
  language: 'es-es',
  routeattributes : 'waypoints,summary,shape,legs',
  maneuverattributes: 'direction,action',
  representation: 'display',
  waypoint0: locationToWaypointString(miubicacion),
  waypoint1: locationToWaypointString(mypropietario)
  });

  routeRendered = true;
  }

  }
   function erroNo(err) {
     alert("Usted a denegado la ubicación, si desea usar el mapa vuelva activarla")
      console.warn('ERROR(' + err.code + '): ' + err.message);
  }

      navigator
      .geolocation
      .watchPosition(actualizarPosicion,erroNo,{maximumAge:0, timeout:5000, enableHighAccuracy:true});




     
      var platform = new H
          .service
          .Platform(
              {app_id: 'OQFc1LGBwy2hiEgmWiHC', app_code: 'jim9GfsIaK643wApePxIvg', useHTTPS: true}
          );
      var pixelRatio = window.devicePixelRatio || 1;
      var defaultLayers = platform.createDefaultLayers({
          tileSize: pixelRatio === 1
              ? 256
              : 512,
          ppi: pixelRatio === 1
              ? undefined
              : 320
      });

      // Step 2: initialize a map  - not specificing a location will give a whole
      // world view.
      var map = new H.Map(
          document.getElementById('map'),
          defaultLayers.normal.map,
          {pixelRatio: pixelRatio}
      );

      // Step 3: make the map interactive MapEvents enables the event system Behavior
      // implements default interactions for pan/zoom (also on mobile touch
      // environments)
      var behavior = new H
          .mapevents
          .Behavior(new H.mapevents.MapEvents(map));

      // AGREGAR COMPONENTES UI
      var ui = H
          .ui
          .UI
          .createDefault(map, defaultLayers, 'es-ES');

      //OPCIONES DEL MAPAA PRIMERO ES PARA CENTRA EL MAPA EN MAIPUNGA
      
      // AGREGAR MARCADORES   addMarkersToMap(map);
      addInfoBubble(map);
</script>

<script>
  $(document).ready(function() {
    bsCustomFileInput.init();
  });
</script>
{% endblock extra_js %}
